
   #mydiv {
        display: block; 
      position: absolute;
      z-index: 100;
      width:200px;
       height: 200px;
       top:0px;
       left:0px;
      background-color: #ffffff;
      text-align: center;
      border: 0px solid #d3d3d3;
                     border-spacing: 5px;
            border-collapse: separate;
            box-shadow: 0px 2px 4px 0px #bbbbbb;
        border-radius: 5px;
       
    }

    #mydivheader {
        padding: 5px;
        cursor: move;
        z-index: 10;  
        background-color: #ffffff;
        color: #fff;
        border-spacing: 5px;
        border-collapse: separate;
        box-shadow: 0px 2px 4px 0px #bbbbbb;
    }

    .btn_dtp {
        background-color: lightblue;    
        border-radius: 5px;
    }
#o1 {
            position: relative;
            width:100%;
            height: 100%;
            top:50px;
        }
        .calendar_row{
          position: relative;
            width:100%;
            height: 100px;
            background-color: white;      
        }
        .calendar_week_row{
          position: relative;
            width:100%;
            height: 20px;
            background-color: white;      
        }
        .d1{
            position: relative;
            width:calc(100% / 7);
            height: 100%;
            background-color: white;
            float: left;
            border-left: 1px solid #f1f1f1;
            border-top: 1px solid #f1f1f1;
            box-sizing: border-box;
        }
        .d2{
            position: static;
            width:100%;
            height: 20%;
            background-color: white;
            float: left;
            border: 0px solid gray;
            box-sizing: border-box;
            pointer-events:  none;
        }
        .d3{
            position: static;
            width:100%;
            height: calc(100% - 20px);
            background-color: white;
            float: left;
            border: 0px solid gray;
            box-sizing: border-box;
            pointer-events:  none;
        }
        .btn {
            position: absolute;
            width:0px;
            top:20px;
            
            background-color: deepskyblue;
            border-spacing: 5px;
            border-collapse: separate;
            box-shadow: 0px 2px 4px 0px #bbbbbb;
            border-radius: 5px;
            
            display: block;
            text-overflow: hidden;
            white-space: nowrap;
            word-wrap: break-word;
            overflow:hidden;  
            height: 15px;
            z-index: 10;
        }

